<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Input box</title>
  <link rel="stylesheet" href="static/css/style2.css">

</head>
<body>
    <!-- <p><br><br></p> -->
<!-- partial:index.partial.html -->
<div id="wrapper">
    <div id="info">
      <div id="info-content">
        <p><br></p>
        <h1>HUFFMAN TREE <strong>A UNIQUE DATA STRUCTURE</strong></h1>
        <p>
            Input form: character1 weight1 character2 weight2<br>
            Input Example: a 12 b 56 c 78
        </p>
      </div>
    </div>
</div>
<div class='sexy_field'>
    <!-- required='required'  -->
    <form class="form" method="POST">
  <input required='required' name="keyvalue" type="text">
</form>
  <!-- <lable>
      <br><br>
    Please enter the key Value
  </lable> -->

</div>
<input type="checkbox" id="menu" name="menu" class="menu-checkbox">
<div class="menu">
  <label class="menu-toggle" for="menu"><span>Toggle</span></label>
  <ul>
    <li>
      <a href="/choice1">Given KeyValue</a>
    </li>
    <li>
      <a href="/choice2">Given Document</a>
    </li>
    <li>
      <a href="/choice3">Given Text</a>
    </li>
    <li>
      <a href="/welcome">Welcome Page</a>
    </li>
  </ul>
</div>
<!-- partial -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script> -->

</body>
</html>
