<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8" name="referrer" content="never">
  
<meta http-equiv="pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"> 
<meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">

  <title>Result</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="static/css/style_download.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>      Result Display and Download</h1>
<a href="/download/result.log" data-text="Compressed File" class="button-hover">Compressed File</a>
<a href="/download/result1.txt" data-text="Decompressed File" class="button-hover">Decompressed File</a>
<a href="/download/KeyValue.log" data-text="KeyValue" class="button-hover">KeyValue</a>
<a href="/download/Total.gv.png" data-text="TreePic" class="button-hover">TreePic</a>
<a href="/welcome" data-text="Return" class="button-hover">Return</a>

<!-- <div class="demo">
    <img src="Total.gv.png"/>
</div> -->

<img src="static/Total.png" style="vertical-align:middle" width="80%" alt="???"/>
<!-- <img src="Total.gv.png" width=80% alt="TreePic" /> -->
<!-- partial -->
</body>
</html>
